@use "../base/reset";

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  .header__top {
    height: 44px;
    background-color: rgb(69, 79, 91);
    transition: 0.5s;
    @media (max-width: 500px) {
      display: none;
    }
    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      h1 {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 12%;
        @media (max-width: 650px) {
          font-size: 12px;
        }
      }
      p {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 12%;
        text-align: right;
        text-decoration-line: underline;
        @media (max-width: 650px) {
          font-size: 12px;
        }
      }
    }
  }
  nav {
    height: 82px;
    background-color: #fff;
    box-shadow: inset 0px -1px 0px 0px rgb(196, 205, 213);
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    .navbar__containre {
      height: 100%;
    }
    .navbar {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__list {
        display: flex;
        align-items: center;
        gap: 32px;
        @media (max-width: 830px) {
          display: none;
        }
        .navbar__link {
          color: rgb(22, 28, 36);
          font-size: 20px;
          font-weight: 300;
          line-height: 24px;
        }
      }
      &__end {
        display: flex;
        align-items: center;
        gap: 32px;
        @media (max-width: 500px) {
          gap: 20px;
        }
        @media (max-width: 450px) {
          display: none;
        }
        .navbar__phone {
          display: flex;
          align-items: center;
          gap: 10px;
          color: rgb(69, 79, 91);
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          i {
            color: rgb(66, 149, 228);
          }
        }
        .navbar__favorite,
        .navbar__cart {
          color: rgb(69, 79, 91);
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
        }
      }
      &__menu {
        width: 40px;
        height: 34px;
        padding-left: 8px;
        font-size: 20px;
        border-radius: 4px;
        display: none;
        position: relative;
        @media (max-width: 830px) {
          display: inline-block;
        }
        span {
          display: block;
          position: absolute;
          width: 25px;
          height: 3px;
          background-color: rgb(69, 79, 91);
          border-radius: 4px;
          transition: 0.6s;
        }
        .menu__top {
          top: 6px;
        }
        .menu__center {
          top: 14px;
        }
        .menu__bottom {
          bottom: 9px;
        }
      }
    }
  }
}

header.shrink .header__top {
  margin-top: -44px;
}

header.shrink nav {
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

// KATALOG START

.nav__katalog {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(22, 28, 36);
  position: fixed;
  z-index: 2;
  top: -100%;
  transition: 0.7s;
  .katalog__list a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 12px;
    display: inline-block;
  }
  .katalog__end {
    display: flex;
    flex-direction: column;
    gap: 14px;
    display: none;
    @media (max-width: 450px) {
      display: flex;
    }
    .katalog__phone {
      display: flex;
      align-items: center;
      gap: 8px;
      color: white;
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
    }
    .katalog__favorite,
    .katalog__cart {
      display: flex;
      align-items: center;
      gap: 8px;
      color: white;
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
    }
  }
}

// KATALOG END

// LOADING START

.loading__box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgb(255, 255, 255, 0.001);
  backdrop-filter: blur(2.5px);
  .loader {
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .loader::before {
    border-color: #f03355 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  .loader::after {
    margin: 8px;
  }
  @keyframes l16 {
    100% {
      transform: rotate(1turn);
    }
  }
}

// LOADING END
